create the virtual environment
（ 1. 在mac系统下安装虚拟环境：（以下都是终端命令, 有的pip命令用不了，请使用pip3）
pip install virtualenv         // 记得不要sudo ，因为会安装到系统目录下
pip install virtualenvwrapper // 安装虚拟环境管理器（没有这个就不能是用rmvirtualenv 去删除虚拟环境）
 ）

flask(pip install flask)

render_tempalte

flask-bootsrtap(pip install flask-bootstrap)

flask_sqlalchemy(pip install flask-sqlalchemy)

flask-wtf(pip install flask-wtf)

flask-bcrypt(pip install flask-bcrypt)