<div class="container">
<table class="webTopTable" cellpadding="0" cellspacing="0">
        <tr>
                
                <div id="webTop" class="webTop">
                        
                            <div id='corpTitle' class='corpTitle corpTitle2' fontPatternTitle='false' style='top:93px;left:174px;;cursor:pointer'  _linkType='0' _href='/index.jsp'>
                              
                                <div class="col-md-2"><img  src={{logo}} width="100" height="100" /></div>
                         
                                <div style="color: rgb(75, 75, 75);" class="col-md-6">
                                    <div style="font-size: 20px; float:left">江西建筑资质代办行业龙头企业<br>全江西最专业的资质咨询公司</div>
                                </div>
                                <div style="color: rgb(75, 75, 75);" class="col-md-4">
                                        <div style="font-size: 20px; float:right">电话：<br>1111111111</div>
                                    </div>
                        </h1>
                    </div>
                </div>
           
        </tr>
    </table>
</div>